<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.dynamicsSqlMapper">
<!--        List<Employee> getEmpByCondition(Employee employee);-->
    <sql id="empColumns" >emp_id,emp_name,sex</sql>
<select id="getEmpByCondition" resultType="Employee">
    select <include refid="empColumns"/> from employee where 1=1
<if test="empname!='' and empname!=null">
and emp_name=#{empname}
</if>
    <if test="age!='' and age!=null">
        and age=#{age}
    </if>
    <if test="sex!='' and sex!=null">
        and sex=#{sex}
    </if>
    <if test="email!='' and email!=null">
        and email=#{email}
    </if>
</select>
    <!--        List<Employee> getEmpByCondition1(Employee employee);-->
    <select id="getEmpByCondition1" resultType="Employee">
        select * from employee
        <where>
        <if test="empname!='' and empname!=null">
            and emp_name=#{empname}
        </if>
        <if test="age!='' and age!=null">
            and age=#{age}
        </if>
        <if test="sex!='' and sex!=null">
            and sex=#{sex}
        </if>
        <if test="email!='' and email!=null">
            and email=#{email}
        </if>
        </where>
    </select>
    <!--        List<Employee> getEmpByCondition2(Employee employee);-->
    <select id="getEmpByCondition2" resultType="Employee">
        select * from employee
        <trim prefix="where" suffixOverrides="and|or">
            <if test="empname!='' and empname!=null">
                 emp_name=#{empname} and
            </if>
            <if test="age!='' and age!=null">
                age=#{age} and
            </if>
            <if test="sex!='' and sex!=null">
                sex=#{sex} or
            </if>
            <if test="email!='' and email!=null">
                 email=#{email}
            </if>
        </trim>
    </select>
    <!--        List<Employee> getEmpByCondition2(Employee employee);-->
    <select id="getEmpByCondition3" resultType="Employee">
        select * from employee
       <where>
           <choose>
               <when test="empname!='' and empname!=null">
                   emp_name=#{empname}
               </when>
               <when test="age!='' and age!=null">
                   age=#{age}
               </when>
               <when test="sex!='' and sex!=null">
                   sex=#{sex}
               </when>
               <when test="email!='' and email!=null">
                   email=#{email}
               </when>
<otherwise>
    dept_id=1
</otherwise>
           </choose>
       </where>

    </select>
<!--    int deleteMoreByArray(Integer[] eids);-->
    <delete id="deleteMoreByArray">
        delete from employee where emp_id in
        <foreach collection="eids" item="eid" separator="," open="(" close=")">
           #{eid}
        </foreach>
    </delete>
<!--     int insertMoreByList(@Param("eids") List<Employee> employeeList);-->
    <insert id="insertMoreByList">
        insert into employee values
                                     <foreach collection="eids" item="eid" separator=",">
                                     (  null,#{eid.empname},#{eid.age},#{eid.sex},#{eid.email},null)
                                     </foreach>

    </insert>

</mapper>