<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ParameterMapper">
<!--    User getUserByUsername(String Username);-->
    <select id="getUserByUsername" resultType="user">
        select * from t_user where username=#{username}
    </select>
<!--     User checkLogin(String username,String password)-->
    <select id="checkLogin" resultType="user">
        select * from t_user where username=#{arg0} and password=#{arg1}
    </select>
<!--    User checkLoginByMap(Map<String, Objects> map)-->
    <select id="checkLoginByMap" resultType="user">
        select * from t_user where username=#{username} and password=#{password}
    </select>
<!--    checkLoginByParam-->
    <select id="checkLoginByParam" resultType="user">
        select * from t_user where username=#{username} and password=#{password}
    </select>

</mapper>